*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffe3e2;
  height: 2000px;
}

.navbar{
width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.main-title{
    color: #76bfb6;
    text-transform: uppercase;
padding: 10px;
}
ul{
    text-decoration: none;
    display: flex;
    align-items: flex-end;

}

ul a{
    text-decoration: none;
    margin-left: 30px;
    font-size: large;
    font-weight: 600;
    margin-right: 40px;
    color: #ae7a7a;
    padding-top: 20px;

}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5rem;
    grid-gap: 3rem 0px;
}

.main-img{
    text-align: center;
    
}
.item{

margin-left: 5px;

animation-delay: 2s;
}
.item:hover{
    transform: scale(1.1,1.1);
}
.item-info {
    color:#ae7a7a;
    font-size: larger;
    text-align: center;
}
.item-info button{
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    background-color: antiquewhite;
    color: #565151;
padding: 6px;
}
.item-info button:hover{
    background-color: #76bfb6;
}
ul a:hover{
    color: #76bfb6;
}

